<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
	<title>Update pilot</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<h2>Hello!</h2>
	<a th:href="@{/}">Back to home</a>
	<h3>Update Pilot</h3>
	<form th:action="@{'/pilot/update/' + ${pilot.licenseNumber}}" th:object="${pilotUpdate}" method="POST">
		License Number: <br>
		<input disabled type="text" name="licenseNumber" th:value="${pilot.licenseNumber}"/>
		<br>
		Name: <br>
		<input type="text" name="name" th:value="${pilot.name}"/>
		<br>
		Fly Hour: <br>
		<input type="Number" name="flyHour" th:value="${pilot.flyHour}"/>
		<br><br>
		<button type="submit">Submit</button>
	</form>

</body>
</html>